
/* referencing myImage tag from JS */
#myImage {
    /* setting height and width of image*/
    width: 100px;
    height: auto; 
}

/* referencing nameAcknowledgement tag from JS */
#nameAcknowledgement {
    color: black;
}

body {
    font-family: Arial, sans-serif;
    font-size: 12pt;
    margin: 15pt; 
    background-color: rgb(225, 150, 191);
    color: rgb(225, 150, 191); 
}

h1 {
    font-size: 24pt;
    color: blue; 
}

h2 {
    font-size: 20pt;
    color: green; 
}

h3 {
    font-size: 18pt;
    color: red;
}

ol {
    font-size: 14pt;
    color: white;
}

ul {
    font-size: 14pt;
    color: white;
    padding: 0;
}

p {
    font-size: 14pt;
    color: white; 
}

a {
    text-decoration: none;
    color: blue; 
}

a:hover {
    text-decoration: underline;
    color: orange; 
}

a:active {
    color: red; 
}

a:visited {
    color: purple;
}

table {
    width: 100%;
    border: 1px solid black;
}

td > div {
    padding: 10px;
}


ul li, ol li {
    width: 48%;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 10px; 
}

