body {
    font-family: Arial, sans-serif;
    font-size: 12pt;
    margin: 15pt; 
    background-color: lightpink;
    color: lightpink; 
}


h1 {
    font-size: 24pt;
    color: blue; 
}

h2 {
    font-size: 20pt;
    color: green; 
}

h3 {
    font-size: 18pt;
    color: red;
}


p {
    font-size: 14pt;
    color: gray; 
}


a {
    text-decoration: none;
    color: blue; 
}

a:hover {
    text-decoration: underline;
    color: orange; 
}

a:active {
    color: red; 
}

a:visited {
    color: purple;
}

table {
    width: 100%;
}

td > div {
    padding: 10px;
}